Character/Service References/Account/Thyrsus.Shared.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Thyrsus.Shared" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Thyrsus.Shared" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Ah_Logon_Exist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aid" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Personalnumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalUsingTime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ah_Logon_Exist" nillable="true" type="tns:Ah_Logon_Exist" />
</xs:schema>